* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: black;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a:-webkit-any-link:hover {
    color: #344759;
    cursor: pointer;
    text-decoration: none;
}

a:-webkit-any-link:focus {
    color: #344759;
    border-top: 4px solid #344759;
    padding-top: 8px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.list-style{
    width: 100vw;
    padding-bottom: 30px;
    border-bottom: 1px solid grey;
    background: #fff;
    box-shadow: 0 0 5px 0 #000;
}

.ul-header {
    justify-content: flex-end;
    padding-right: 35px;
}

.li-header {
    margin: 0 10px;
    list-style: none;
    text-transform: uppercase;
    padding-top: 20px;
    align-items: center;
}

.aztec {
    text-transform: uppercase;
    align-items: left; 
    width: 50px;
    height: auto;
}

.text-box {
    margin-top: 20px;
    margin-left: 140px;
    margin-right: 140px;
    padding-bottom: 40px;
    padding: 30px;
    background-color: rgb(225, 225, 225);
}

.image-main {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.footer-style {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #344759;
    color: #cbcbcb;
    position: absolute;
    width: 100vw;
    margin-top: 20px;
}

.testimonials {
    margin-left: 140px;
    margin-right: 140px;
    padding: 20px;
    margin-top: 30px;
    border-bottom: 1px solid grey;
    background: #fff;
    box-shadow: 0 0 5px 0 #000;
}

.testimonials-text {
    text-align: center;
    font-size: 2em;
    color: #344759;
    margin-top: 20px;
}

.line-break {
    width: 75vw;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-input {
    height: 38px;
    width: 600px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #344759;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }

  .contact-text-box {
    margin-top: 10px;
    margin-left: 20px;
    padding: 6px 10px;
    height: 68px;
    width: 600px;
    background-color: #fff;
    border: 1px solid #344759;
    border-radius: 4px;
    box-shadow: none;
    resize: none;
    font-family: 'Raleway', sans-serif;
  }

  .contact-button {
    display: inline-block;
    height: 38px;
    width: 100px;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
    color: #555;
    text-align: center;
    margin-right: 10px;
    margin-left: 20px;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #344759;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }

  .contact-download {
    margin-left: 20px;
    margin-top: 10px;
  }